#git ignore for python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#private notebooks
plots_for_talk.ipynb

#mac stuff 
.DS_Store
 
# outputs
*.pdf
*.png
*.pkl
*.hdf5
*.jpg
*.prof

# Jupyter Notebook
.ipynb_checkpoints

# code
*.code-workspace
